{% load static %}

<footer id="contact">
  <h2>Let's Connect</h2>
  <div id="footer-info-area">
    <div class="footer-info">
      <h3>Contact Info</h3>
      <a id="call" href="tel:8172534571"><p>817-253-4571</p></a>
      <p id="phone">(817) 253-4571</p>
      <a href="mailto:brian.hornbrook@proton.me">
        <p>brian.hornbrook@proton.me</p>
      </a>
    </div>
    <div class="footer-info">
      <h3>Follow Me</h3>
      <div id="follow-me">
        <a href="https://www.linkedin.com/in/brian-hornbrook" target="_BLANK">
          <i id="linkedIn" class="linkedin icon"></i>
        </a>
        <a href="https://www.facebook.com/brianbdh" target="_blank">
          <i class="facebook icon"></i>
        </a>
        <a href="https://github.com/brian-hornbrook" target="_blank">
          <i class="github icon"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
</main>
</body>

</html>