{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'images/person_developer.svg' %}">
  <title>Brian Hornbrook Portfolio</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- font -->
  <link href="https://fonts.googleapis.com/css2?family=Lekton&display=swap" rel="stylesheet">

  <!-- semantic ui -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>

<header>
  <nav>
    <ul>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#about">About</a></li>
      <li id="contact-me"><a href="#contact">Contact Me</a></li>
    </ul>
  </nav>
  <div id="header-info">
    <h1>Hi there, I'm Brian Hornbrook</h1>
    <h2>I'm a DevOps Engineer transitioning to Cybersecurity learning CompTIA Security+ (in progress).</h2>
  </div>
</header>